%h1 Jobs
%a{ :href => new_job_path }
  %i.icon-plus
  New Job

%table.table.table-striped
  %thead
    %tr
      %td Courier
      %td Client
      %td Pickup
      %td Dropoff
  %tbody
    - @jobs.each do |job|
      %tr
        %td
          - if job.user.nil?
            Unassigned
          - else
            = job.user.name
        %td= link_to job.client.name, job
        %td= job.drops.first.location.address unless job.drops.first.nil?
        %td= job.drops.last.location.address unless job.drops.last.nil?

