%h1
  Clients
  %small= link_to "New Client", new_client_path

- if @clients.count > 0
  %table.table.table-striped
    %thead
      %tr
        %th
    %tbody
      - @clients.each do |client|
        %tr
          %td= link_to client.name, client
- else
  .alert
    %p No Clients

= will_paginate @clients, :renderer => BootstrapPagination::Rails
