.navbar.navbar-static-top
  .navbar-inner
    .container
      .brand Clients
      = link_to "New Client", new_client_path, :class => "btn"
      = render "layouts/searchform"

.container
  - if @clients.count > 0
    %table.table.table-striped
      %thead
        %tr
          %th Name
      %tbody
        - @clients.each do |client|
          %tr
            %td= link_to client.name, client
  - else
    .alert
      %p No Clients

  = paginate @clients
