.navbar.navbar-static-top
  .navbar-inner
    .container
      .brand My Jobs
      = link_to "Add Job", new_job_path, :class => "btn"

.container
  %h2 Active Jobs

  - unless @jobs.nil?
    %table.table.table-striped
      %thead
        %tr
          %td Status
          %td Pickup
          %td Dropoff
      %tbody
        - @jobs.each do |job|
          %tr
            %td= link_to job.status.to_s.capitalize, job unless job.client.nil?
            %td= job.drops.first.location.address unless job.drops.first.nil?
            %td= job.drops.last.location.address unless job.drops.last.nil?
