- content_for :head do
  = javascript_include_tag "home"

#map
.overmap-content
  %h2
    We are the fastest way to <br />deliver packages in Toronto

.container
  .row
    .span4
      %h3 Speedy Local Delivery
      %p Our HQ is in the heart of Toronto and we have couriers all around the city.
    .span4
      %h3 Personal and Business Plans
      %p We offer competative services to clients for one time deliveries and to business clients with frequent packages. 
    .span4
      %h3 Courier Owned and Operated
      %p We believe in fair compensation and a healthy work enviroment. FTL Courier is a member run co-operative. Meet our #{link_to :members, :members}.
