body.map
  padding-top: 0

  #map
    background: #eee
    height: 400px
  .flash
    display: none

  .overmap-content
    pointer-events: none
    border-radius: 3px
    width: 50em
    position: absolute
    top: 50%
    left: 50%
    margin-left: -25em
    margin-top: -12em
    font-size: 12px
    padding: 3em
    h2
      color: #fff
      font-size: 3.5em
      line-height: 1.4
      font-weight: 300
      text-align: center
    p
      color: #ddd
      font-size: 3em
      line-height: 1.4
      margin-top: .8em

  .navbar-inner, .overmap-content
    background: rgba(0, 0, 0, .75)
    text-shadow: 0 2px 1px black
  .navbar-inner .dropdown-menu
    text-shadow: none

  &.loggedin
    .navbar-inner
      background: #000

  #sidebar
    background: #eee
    overflow: auto
    li
      padding: 15px
      margin: 15px
      background: #fff

body.home-members
  h2
    margin-top: 0
    line-height: 1.1
    font-weight: normal
    font-size: 1.4em
  img.pull-left
    margin-right: 20px
