body.jobs-show
  td.icon
    text-align: center
  tbody td
    vertical-align: middle
  #map
    $height: 300px
    height: $height
    background: #eee
    text-align: center
    color: #ddd
    font-size: 30px
    .loading
      line-height: $height
