- content_for :head do
  = javascript_include_tag "locations/edit"

%h1
  Edit
  = @location.name

.row-fluid
  .span6
    = render 'form'

  .span6
    #map{ :"data-lat" => @location.lat, :"data-lng" => @location.lng }
    %p.help-block Note: Drag the #{image_tag marker_icon(0), :alt => "marker"} above to make its position more accurate
