%h1
  Locations
  %small= link_to "Add Location", new_location_path

%table.table.table-striped
  %thead
    %tr
      %td Name
      %td Address
  %tbody
    - @locations.each do |location|
      %tr
        %td= link_to location.name, location
        %td= location.address

